<Project>
  <!--
    Copy this file to Secrets.props and fill in your Last.fm values.
    Get credentials at https://www.last.fm/api/account/create
  -->
  <PropertyGroup>
    <LastFmApiKey></LastFmApiKey>
    <LastFmSharedSecret></LastFmSharedSecret>
  </PropertyGroup>
</Project>
